
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/clash-display?styles=106288,106286,106287,106289,106284');
@import 'libs/bootstrap-reboot.min';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: #141943;
}
.container {
    width: 1385px;
    margin: 0 auto;
}
ul {
    margin: 0;
    padding: 0;
}

.btn {
    &-1 {
        background: #2F80ED;
        border-radius: 60px;
        @include dfc;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        transition: .3s all;
        &:hover {
            text-decoration: none;
            color: #ffffff;
            background: #076cef;
        }
    }
    &-2 {
        border: 1px solid rgba(255, 255, 255, 0.9);
        border-radius: 60px;
        @include dfc;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        transition: .4s all;
        &:hover {
            text-decoration: none;
            color: #ffffff;
        }
    }
}

@keyframes header-img {
    0% {
        transform: translateY(-13px);
    }
    50% {
        transform: translateY(12px);
    }
    100% {
        transform: translateY(-13px);
    }
}

@keyframes header-img_2 {
    0% {
        transform: translateX(-10px) matrix(.98,0,-.18,1,0,0);;
    }
    50% {
        transform: translateX(10px) matrix(.98,0,-.18,1,0,0);;
    }
    100% {
        transform: translateX(-10px) matrix(.98,0,-.18,1,0,0);;
    }
}

@keyframes header-img_3 {
    0% {
        transform: translateX(-4px) translateY(-10px) matrix(.98,0,-.18,1,0,0);;
    }
    50% {
        transform: translateX(3px) translateY(10px) matrix(.98,0,-.18,1,0,0);;
    }
    100% {
        transform: translateX(-4px) translateY(-10px) matrix(.98,0,-.18,1,0,0);;
    }
}

@keyframes header-img_5 {
    0% {
        transform: matrix(.98,0,-.18,1,0,0) scale(1);;
    }
    50% {
        transform: matrix(.98,0,-.18,1,0,0) scale(1.05);;
    }
    100% {
        transform: matrix(.98,0,-.18,1,0,0) scale(1);;
    }
}
.mr0 {
    margin-right: 0!important;
}

.content {
    &-title {
        margin-bottom: 60px;
        span {
            font-weight: 600;
            font-size: 55px;
            line-height: 68px;
            background: linear-gradient(90deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-family: 'Clash Display';
        }
    }
}

@import 'blocks/header';
@import 'blocks/parthners';
@import 'blocks/nfts';